ul, li {
  margin: 2px 1px;
  padding: 0;
}

li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

a {
  text-decoration: none;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.font-small {
  font-size: 0.75rem;
}

.red-font {
  color: #901C1C;
}

.btn-contact {
  background-color: #901C1C;
  border: none;
  padding: 20px 15px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.btn-contact:hover {
  background-color: #db8876;
  color: black;
  cursor: pointer;
}

.photograph-card {
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.2rem;
}

.photograph-ID {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: -10px;
}

.photograph-card h3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: #D3573C;
  line-height: 2rem;
  margin-bottom: 5px;
}

.location {
  color: #901C1C;
}

.price {
  color: #757575;
}

.shadow {
  -webkit-box-shadow: 2px 2px 12px #c4c4c4;
          box-shadow: 2px 2px 12px #c4c4c4;
}

.photograph-card > * {
  margin: 1px 2px;
}

@media screen and (max-width: 700px) {
  .photograph-ID {
    width: 55vw;
    height: 55vw;
  }
}

@media screen and (min-width: 700px) {
  .photograph-ID {
    width: 14vw;
    height: 14vw;
  }
}

.hashtag {
  color: #901C1C;
  border: 1px solid #c4c4c4;
  border-radius: 25px;
  padding: 4px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  margin: 3px 2px;
  font-size: 0.7rem;
}

header .hashtag {
  margin: 3px 0;
}

.hashtag::before {
  content: "#";
}

.hashtag:hover {
  cursor: pointer;
  background-color: #901C1C;
  color: white;
}

/* .hashtag::after {
    content: "\00a0";
} */
.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: 2px solid blue;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}

.vignette img {
  background-size: cover;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header h2 {
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1200 - 300)));
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-weight: 400;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  header h2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .logo {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 700px) {
  .photograph-cards {
    width: calc(100vw - 10vw);
    padding: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .photograph-card {
    min-width: 250px;
    max-width: 23vw;
  }
}

.form-modal {
  background-color: #db8876;
  padding: 2.5%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 35vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .form-modal {
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: none;
            transform: none;
    padding: 5%;
    width: calc(100vw - 10%);
    height: calc(100vh - 5% + 5px);
  }
}

.form-modal h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 0;
  letter-spacing: 0.15rem;
  width: 90%;
  line-height: 2.8rem;
}

.form-modal label {
  font-size: 1.3rem;
  color: #272727;
}

.form-modal input, .form-modal textarea {
  width: calc(100% - 16px);
  border: none;
  padding: 8px;
  margin: 2px 0;
}

.form-modal textarea {
  height: 15vh;
  max-width: calc(100% - 16px);
  margin-bottom: 15px;
}

#contact-modal {
  width: 100%;
}

.photograph-profile {
  background-color: #fafafa;
  margin: 0 20px;
  padding: 1% 5%;
  width: calc(100% - 40px - 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photograph-pres {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: 2px solid blue;
}

.photograph-description {
  outline: 2px solid orange;
}

.photograph-description > .location {
  font-size: 1.4rem;
}

.tagline {
  color: #525252;
}

.photograph-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  outline: 2px solid green;
}

.photograph-pic {
  outline: 2px solid pink;
}

.photograph-description {
  width: 67%;
}

.photograph-profile h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  margin-right: 30px;
}

.photographer-name {
  color: #D3573C;
}

.photograph-description > .photographer-name {
  margin: 0;
  margin-bottom: -5px;
}

.photographer-name-profile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 2px solid greenyellow;
}

html {
  padding: 2% 5%;
}

@media screen and (max-width: 700px) {
  .photograph-cards {
    margin-top: 10%;
  }
}

@media screen and (min-width: 700px) {
  .photograph-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5%;
  }
  .photograph-card {
    width: 25vw;
    max-width: 33%;
  }
}
/*# sourceMappingURL=main.css.map */