@media screen and (max-width: $breakpoint) {
    body {
        padding: 2% 1%;
    }

    .photograph-cards {
        margin-top: 10%;
    }
    
}

@media screen and (min-width: $breakpoint) {
    body {
        padding: 2% 5%;
    }

    .photograph-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5%;
    }

    .photograph-card {

        width: 25vw;
        max-width: 33%;
    }
    
}