.form-modal {
    background-color: $light-coral-red;
    padding: 2.5%;
    //display: flex;
    display:none;
    flex-wrap: wrap;
    width: 35vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media screen and (max-width: $breakpoint) {
    .form-modal {
        margin: 0;
        //display: flex;
    display:none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
        transform: none;
        padding: 5%;
        width: calc(100vw - 10%);
        height: calc(100vh - 5% + 5px);
    }
}

.form-modal h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 0;
    letter-spacing: 0.15rem;
    width: 90%;
    //outline: 2px solid blue;
    line-height: 2.8rem;
}

.form-modal label {
    font-size: 1.3rem;
    color: rgb(39, 39, 39);
}

.form-modal input, .form-modal textarea {
    width: calc(100% - 16px);
    border: none;
    padding: 8px;
    margin: 2px 0;
}

.form-modal textarea {
    height: 15vh;
    max-width: calc(100% - 16px);
    margin-bottom: 15px;
}

#contact-modal {
    width: 100%;
    //outline: 2px solid greenyellow;
    //outline: 2px solid white;
}
