@media screen and (max-width: 600px) {    
    header {
        width: 50%;
        outline: 2px solid yellowgreen;
    }
    main h2 {
        
        // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
        // Source : https://css-tricks.com/snippets/css/fluid-typography/
        font-size: calc($default-font-size + (22 - 16) * ((100vw - $min-width) / ($max-width - $min-width)));
    }
    
}

@media screen and (min-width: 601px) {
    header {
        width: 75%;
        outline: 2px solid yellowgreen;
    }    
    
}