@media screen and (min-width: $breakpoint) {
    .photograph-cards {
        width: calc(100vw - 10vw);
        padding: 0vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .photograph-card {
        //outline: 2px solid blue;
        min-width: 250px;
        max-width: 30vw;
    }
}