.photograph-card {
    margin-bottom: 50px;
    width: 100%;
    //outline: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2rem;
}

.photograph-ID {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: -10px;
}

.photograph-card h3 {
    font-size: 1.9rem;
    font-weight: 400;
    color: $coral-red;
    line-height: 2rem;
    margin-bottom: 5px;
}

.location {
    color: $primary-red;
    font-weight: 400;
}

.price {
    color: $darker-grey;
}

.shadow {
    box-shadow: 2px 2px 12px $intermediary-grey;
}

.photograph-card > * {
    margin: 1px 2px;
}

@media screen and (max-width: $breakpoint) {
    .photograph-ID {
        width: 55vw;
        height: 55vw;
    }
}

@media screen and (min-width: $breakpoint) {
    .photograph-ID {
        width: 14vw;
        height: 14vw;
    }
}
