.hashtag {
    color: $primary-red;
    border: 1px solid $grey;
    border-radius: 25px;
    padding: 2px 4px;
    width: fit-content;
    font-weight: 600;
}

.hashtag::before {
    content: "#";
}

.hashtag:hover {
    cursor: pointer;
    background-color: $primary-red;
    color: white;
}

/* .hashtag::after {
    content: "\00a0";
} */