
.hashtag {
    color: $primary-red;
    border: 1px solid $intermediary-grey;
    border-radius: 25px;
    padding: 4px 8px;
    width: fit-content;
    font-weight: 600;
    margin: 3px 2px;
    font-size: 0.7rem;
}

.hashtag::before {
    content: "#";
}

.hashtag:hover, .hashtag:hover a, .hashtagHovered, .hashtagHovered a {
    cursor: pointer;
    background-color: $primary-red;
    color: white;
}

.hashtagHovered {
    color: white;
}