.gallery {
    width: 100%;
    display: grid;
    grid-template-areas: "a a a";
    grid-template-columns: 1fr 1fr 1fr;
}



.vignette {
    width: 300px;
}

.vignette img, .vignette video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.media-title, .media-likes {
    color: $primary-red;
    margin-top: 3%;
    margin-bottom: -5%;
    letter-spacing: 0.08rem;
    font-size: 1.1rem;
}

.media-title {
    float: left;
    max-width: 60%;
    height: auto;
}

.media-likes {
    float: right;
    max-width: 30%;
}

.media-likes:active {
    animation: waow 0.25s ease-in-out 0s 1 normal forwards;
}

@keyframes waow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
        font-weight: 600;
    }
    100% {
        transform: scale(1);
        font-weight: 600;
    }
    
}

.media-likes::after, #bottomInfosLikes::after {
    content: "\2665";
}

#bottomInfos {
    position: fixed;
    bottom : 0;
    right: 20px;
    padding: 10px;
    background-color: $light-coral-red ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:center;
    width: 15vw;
    padding: 10px 3%;
    //outline: 1px solid greenyellow;
}

#bottomInfosLikes::after {
    font-size: 1.4rem;
    margin-left: 5px;
    margin-right: 20px;
}

#bottomInfosLikes, #bottomInfosTJ {
    //outline: 1px solid blue;
    display: flex;
    align-items: center;
}

@media screen and (max-width: $breakpoint) {
    .gallery {   
        grid-template-areas: "a";
        grid-template-columns: 1fr;
        margin-bottom: 15vh;
    }
    figure {
        margin: 0;
    }

    .gallery figure {
        margin: 5%;
        width: calc(100vw - 10% - 2%);
    }

    .vignette img, .vignette video{
        border-radius: 8px;
        margin: 0;
        width: calc(100%);
        height: 23vh;
        object-fit: cover;
        object-position: center 32%;
    }

    .gallery figcaption {
        padding: 0 3px;
    }

    .media-title, .media-likes {
        font-size: 1rem;
        letter-spacing: normal;
    }

    .media-likes {
        font-weight: 600;
    }

    #bottomInfos {
        display: none;
    }

   



}