.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    //outline: 2px solid blue;
    justify-content: left;
    column-gap: 15px;
    row-gap: 15px;
}

.vignette img, .vignette video {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}