.photograph-profile {
    background-color: $light-grey;
    margin: 0 20px;
    padding: 1% 5%;
    width: calc(100% - 40px - 10%); 
    display: flex;
    flex-wrap: wrap;
}

.photograph-pres {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //outline: 2px solid blue;
}

/* .photograph-description {
    //outline: 2px solid orange;
} */

.photograph-description > .location {
    font-size: 1.4rem;
}

.tagline {
    color: $grey;
}

.photograph-contact {
    display: flex;
    justify-content:left;
    align-items: flex-start;
    //outline: 2px solid green;
}

/* .photograph-pic {
    //outline: 2px solid pink;
} */

.photograph-description {
    width: 67%;
}

.photograph-profile h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    margin-right: 30px;
}

.photographer-name {
    color: $coral-red;
}

.photograph-description > .photographer-name {
    margin: 0;
    margin-bottom: -5px;
}

.photographer-name-profile {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    //outline: 2px solid greenyellow;
}